*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html,body{
  width: 100%;
  height: 100vh;
}

body{
  color: white;
  background-color: black;
}

.container{
  display: flex;
  flex-wrap: wrap;
  gap: 2.3rem;
  align-items: center;
  min-height: 400px;
  min-width: 700px;
justify-content: center;
}
.card{
  border: 1px solid white;
  border-radius: 12px;
width: 400px;
background-color: white;
display: flex;
flex-direction: column;
align-items: center;
gap: 1rem;
cursor: pointer;
}

.card h3{
  color: rgb(166, 81, 7);
}

.card p{
  color: black;
  text-align: center;
}
button{
  width: 120px;
  height: 40px;

  border: none;
  border-radius: 7px;
  cursor: pointer;
  color: white;
}
.card-num{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background-color: black;
  color: white;
  border: 1px solid black;
  width:20px;
  height:20px;
  border-radius: 50%;
}
.btns{
  display: flex;
  align-items: center;
  gap: 2rem;
}
#edit-btn{
  background-color: green;

}

#del-btn{
  background-color: rgb(157, 0, 0);
}