*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html,body{
  width: 100%;
  height: 100vh;
}

body{
  color: white;
  background-color: black;
}

.container{
  display: flex;
  flex-wrap: wrap;
  gap: 2.3rem;
  align-items: center;
  min-height: 400px;
  min-width: 700px;
justify-content: center;
}
.card{
  border: 1px solid white;
  border-radius: 12px;
width: 400px;
background-color: white;
display: flex;
flex-direction: column;
align-items: center;
gap: 1rem;
cursor: pointer;
}

.card h3{
  color: rgb(166, 81, 7);
}

.card p{
  color: black;
  text-align: center;
}
button{
  width: 120px;
  height: 40px;

  border: none;
  border-radius: 7px;
  cursor: pointer;
  color: white;
}
.card-num{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background-color: black;
  color: white;
  border: 1px solid black;
  width:20px;
  height:20px;
  border-radius: 50%;
}
.btns{
  display: flex;
  align-items: center;
  gap: 2rem;
}
#edit-btn{
  background-color: green;

}

#del-btn{
  background-color: rgb(157, 0, 0);
}

#add-btn{
  color: rgb(255, 253, 253);
  font-weight: 600;
  background-color: rgb(16, 69, 168);
}

/* users */
.users-container{
  border: 2px solid rgba(255, 255, 255, 0.274);
  background-color:rgba(107, 106, 105, 0.41);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap:1.6rem;

}

.user-card{
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
  width: 300px;
  height: 350px;
  border-radius: 12px;
  background-color: rgb(2, 41, 58);
}
.user-card .image{
  background-color: #fff;
  width: 100px;
  height: 100px;
border-radius: 50%;

overflow: hidden;

}
.user-card span{
  color: rgb(249, 113, 16);
}
.image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* form */
.form-section{
  max-width: 1000px;
  margin: 0 auto;
  height: 100px;
  border-radius: 12px;
  padding: 1rem;
  background-color: rgb(126, 75, 0);
}
form{
  display: flex;
  align-items: center;
gap: 2rem;
}
input{
  width: 75%;
  height: 50px;
  text-align: center;
  border: none;
  border-radius: 12px;
}